img {
  max-width: 850px;
  width: 100%;
  height: 400px;
}

td{
text-align: left !important;
}

th{
  text-align: center !important;
}

@media (min-width: 66.5rem) {
  .side-bar {
    width: 300px !important;
  }
}

@media (min-width: 50rem) {
  .main {
    max-width: 1440px !important;
    width: 100%;
    margin-left: 345px !important;
    margin-right: 40px !important;
  }
  .site-footer {
    display: none !important;
  }
}

@media (min-width: 66.5rem) {
  .main {
    max-width: 1440px !important;
    width: 100%;
    margin-left: 345px !important;
    margin-right: 40px !important;
  }
}
