img {
  max-width: 750px;
  width: 100%;
  height: 400px;
}

td{
text-align: left !important;
}

th{
  text-align: center !important;
}
#explore-build-connect strong{
  letter-spacing: 3px !important;
font-weight: 700 !important;
}

#explore-build-connect > strong:nth-child(even){
  color: #19b885 !important;
}

@media (min-width: 66.5rem) {
  .side-bar {
      width: 250px !important;
      min-width: 250px !important;
  }
 
}

@media (min-width: 50rem) {
  .main {
    max-width: 1200px !important;
    width: 100%;
    margin-left: 345px !important;
    margin-right: 40px !important;
  }
  .site-footer {
    display: none !important;
  }
  .aux-nav{
    display: none !important;
  }
}

@media (min-width: 66.5rem) {
  .main {
    max-width: 1200px !important;
    width: 100%;
    margin-left: 345px !important;
    margin-right: 40px !important;
  }
}


